
<form id="myForm" [formGroup]="addQuestion" (ngSubmit)="print()">

    <div class="container">
        <div class="form-outline" style="width: 10rem; margin-top: 5px;">
          <label class="form-label" for="typeNumber" id="numberLabel">Number input</label>
          <input value="20" type="number" id="typeNumber" class="form-control" />
      </div>

      <div class="row-fluid">
        <h4>Select Course Name:</h4>
        <select class="form-select" formControlName="courseName">
          <option value="">Select</option>
          <option *ngFor="let c of courseOptions"> {{c.name}} </option>
        </select>
        <ng-container *ngIf="addQuestion.controls['courseName'].touched">
          <span class="text-danger" *ngIf="addQuestion.controls['courseName']?.errors?.['required']">Please select
            course!</span>
        </ng-container>
      </div>
      <div class="row-fluid">
        <h4>Select Question Format:</h4>
        <div *ngFor="let q of questionOptions; let index = index">
          <label for="questionTypeName">
              <input type="checkbox" id="questionTypeName" name="question" formControlName="questionFormat" #checkbox>
              {{q.name}}
          </label>


            <ng-container *ngIf="addQuestion.controls['questionFormat'].valid">
            <ng-container *ngIf="checkbox.checked">
              <div class="form-outline" style="margin-top: 5px; margin-bottom: 10px;">
                <label class="form-label" id="numberLabel" style="color: #ffff;">Number of: {{questionOptions[index].name}} Questions</label>
                <input value="5" type="number" id="typeNumber" class="form-control" style="width: 10rem;" />
              </div>
            </ng-container>
            </ng-container>

        </div>
        <ng-container *ngIf="addQuestion.controls['questionFormat'].touched">
          <span class="text-danger" *ngIf="addQuestion.controls['questionFormat']?.errors?.['required']">Please select
            question format!</span>
        </ng-container>
      </div>
      <!-- ----------------------------------------------------------------------------------------------- -->
      <div class="row-fluid">
         <h4> Select Question Type:</h4>
          <div *ngFor="let q of questionType; let index = index">
            <label for="questionTypeName">
                <input type="checkbox" id="questionTypeName" name="question" formControlName="questionType" #checkbox>
                {{q.name}}
            </label>


              <ng-container *ngIf="addQuestion.controls['questionType'].valid">
                <ng-container *ngIf="checkbox.checked">
                  <div class="form-outline" style="margin-top: 5px; margin-bottom: 10px;">
                    <label class="form-label" for="typeNumber" id="numberLabel" style="color: #ffff;">Number of: {{questionType[index].name}} Questions</label>
                    <input value="5" type="number" id="typeNumber" class="form-control" style="width: 10rem;" />
                  </div>
                </ng-container>
              </ng-container>


          </div>
          <ng-container *ngIf="addQuestion.controls['questionType'].touched">
            <span class="text-danger" *ngIf="addQuestion.controls['questionType']?.errors?.['required']">Please select
              question type!</span>
          </ng-container>
        </div>
         <!-- ----------------------------------------------------------------------------------------------- -->
      <div class="row-fluid">
          <h4>Select Question Difficulty:</h4>
          <div *ngFor="let q of questionDifficulty; let index = index">
            <label for="questionTypeName">
                <input type="checkbox" id="questionTypeName" name="question" formControlName="questionDifficulty" #checkbox>
                {{q.name}}
            </label>

              <ng-container *ngIf="addQuestion.controls['questionDifficulty'].valid">
                <ng-container *ngIf="checkbox.checked">
                  <div class="form-outline" style="margin-top: 5px; margin-bottom: 10px;">
                    <label class="form-label" for="typeNumber" id="numberLabel" style="color: #ffff;">Number of: {{questionDifficulty[index].name}} Questions</label>
                    <input value="5" type="number" id="typeNumber" class="form-control" style="width: 10rem;" />
                  </div>
                </ng-container>
              </ng-container>

          </div>
          <ng-container *ngIf="addQuestion.controls['questionDifficulty'].touched">
            <span class="text-danger" *ngIf="addQuestion.controls['questionDifficulty']?.errors?.['required']">Please select
              question difficulty!</span>
          </ng-container>
        </div>

        <button  [disabled]="!addQuestion.valid" type="submit" class="btn btn-block btn-primary font-weight-bold py-3">
          Generate Quiz
        </button>
    </div>
  </form>
 
  <!-- <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a> -->