@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lora, sans-serif;
  // max-height: 50px;
//   height: 100vh
}

blockquote {
  max-width: 100%;
  padding: 1.3em;
  color: #180A0A;
  font-weight: bold;
  // border: solid 1px #FF7000;
  // border-radius: 8px;
  // box-shadow: #FF7000 2px 2px 2px 2px;
  -webkit-animation: info-appear 3s 1;
  -moz-animation: info-appear 3s 1;
  -o-animation: info-appear 3s 1;
  animation: info-appear 3s 1;
  // background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%)
}

.quote-text {
  font-style: italic;
}

.credit {
  float: right;
  margin-top: 1.3em;
  font-weight: bold;
  font-size: 1.2em;
}

.quote-icon {
  width: 50px;
  margin-bottom: 0.5em;
  color:pink;
}
@-webkit-keyframes info-appear {
    from {
      opacity: 0;
      filter: blur(3px);
    }
    50% {
      opacity: 0;
      filter: blur(2px);
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes info-appear {
    from {
      opacity: 0;
      filter: blur(3px);
    }
    50% {
      opacity: 0;
      filter: blur(2px);
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes info-appear {
    from {
      opacity: 0;
      filter: blur(3px);
    }
    50% {
      opacity: 0;
      filter: blur(2px);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes info-appear {
    from {
      opacity: 0;
      filter: blur(3px);
    }
    50% {
      opacity: 0;
      filter: blur(2px);
    }
    to {
      opacity: 1;
    }
  }