<div class="body">
  <div class="wrapper">
    <div class="infobox">
      <div class="info">
        <div class="subtitle">
          <span>Welcome</span>
        </div>
        <div class="title">
          <h1>Dr. Ahmed ElAgamy</h1>
        </div>
        <div class="subtitle">
          <span>Back</span>
        </div>
        <div class="links">
          <a routerLink="add" routerLinkActive="active" >Add Questions</a>
          <a id="make-quiz" routerLink="quiz">Make Quiz</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-quotes class="qoutes"></app-quotes>
